{% extends 'base.html.twig' %}

{% block title %}New Entry{% endblock %}

{% block body %}
<div class="container">
    <h1>Opps something gone wrong !</h1>
    <p>Are U sure this is Capital city? :)</p>
    <br>
    <a href="{{ path('entry_index') }}" class="btn btn-primary">Back</a>
</div>
    
{% endblock %}